@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto:ital,wght@1,100&family=Ubuntu:ital,wght@1,300&display=swap');
:root{
    --main-bg-color:#bd6418;
    --font1:'Baloo 2', cursive;
    --font2:'Roboto', sans-serif;
    --font3:'Ubuntu', sans-serif;
}
.center{
    text-align: center;
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.mx-1{
    margin-left: 23px;
    margin-right: 23px;
}
.my-2{
    margin-bottom:12px;
    margin-top: 12px;
}
.btn{
    padding: 4px 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
    transition: all 0.3s ease-in-out;
}
.form-input{
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
    font-family: var(--font1);
}
.form-box input, textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0;
    font-size: 18px;
    font-family: var(--font1);
    border: 2px solid var(--main-bg-color);
    border-radius: 5px;
}